body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  margin: 0 40px 0 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 1px solid #fff;
  padding: 0.3rem 0.7rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-left: 0.7rem;
}

.btn.small {
  font-size: 1rem;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  border-bottom: 1px solid white;
  margin-top: 10px;
  padding-bottom: 20px;
}

.top-right span {
  margin-right: 1rem;
}

/* main */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0,5rem 1rem;
}

.main-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-menu a {
  font-weight: 700;
  opacity: 0.5;
  letter-spacing: 0.5px;
  font-size: 2rem;
}

.main-menu a.active {
  opacity: 1;
  padding-bottom: 0.25rem;
}

.main-menu a:hover {
  opacity: 1;
  color: #fff;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.icon-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  transition: color 0.5s ease, background-color 0.5s ease; 
}

.divider {
  border: 0;
  border-bottom: 1px solid white;
  margin: 0;
}

/* container 1 */
h1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 6rem;
}

.hero {
  padding: 4rem 1.5rem;
  color: #fff;
  background: #000;
}

.content1 {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.media1 img {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.text1 {
  flex: 1;
  max-width: 850px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: -1.5rem;
}

.text1 a {
  color: #fff;
  text-decoration: underline;
}

.btn1 {
  display: inline-block;
  margin-top: 1.5rem;
  border: 1px solid #fff;
  padding: 0.8rem 1.25rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.btn1:hover {
  background-color: #fff;
  color: #000;
}

/* responsive */
@media (max-width: 900px) {
  .content1 {
    flex-direction: column;
  }

  .h1 {
    font-size: 2.5rem;
  }
}
