body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  margin: 0 40px 0 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 1px solid #fff;
  padding: 0.3rem 0.7rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-left: 0.7rem;
}

.btn.small {
  font-size: 1rem;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  border-bottom: 1px solid white;
  margin-top: 10px;
  padding-bottom: 20px;
}

.top-right span {
  margin-right: 1rem;
}

/* main */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0,5rem 1rem;
}

.main-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-menu a {
  font-weight: 700;
  opacity: 0.5;
  letter-spacing: 0.5px;
  font-size: 2rem;
}

.main-menu a.active {
  opacity: 1;

  padding-bottom: 0.25rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.icon-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.divider {
  border: 0;
  border-bottom: 1px solid white;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 6rem;
}